.product {
  width: 200px;
  padding: 15px 14px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__picture-cover {
    padding: 12px 2px;
    width: 170px;
    height: 170px;
    margin-bottom: 24px;
    border: 3px solid transparent;
    transition: transform 1s ease-in-out;

    &:hover {
      border-color: #f3f3f3;
      transform: scale(1.2);
    }
  }

  &__picture {
    width: 160px;
    height: 134px;
    margin-bottom: 41.5px;
  }

  &__price {
    line-height: 19px;
    font-size: $fz;
    font-weight: bold;
    margin: 0;
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  &__buy {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__text {
    line-height: 13px;
    font-size: 11px;
    margin: 0;
  }

  &__title {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;

  }

  &__comments {
    margin: 0;
    display: inline-product;
    line-height: 13px;
    font-size: 11px;
  }

  &__code {
    width: 100%;
    font-size: 11px;
    margin: 0;
  }

  &__button {
    background: $c-blue;
    border-radius: 5px;
    border: $border;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    font-size: 14px;

    display: block;
    margin-top: 20px;

    width: 170px;
    height: 40px;

    transition-duration: 0.5s;
  }

  &__button:hover {
    background: #fff;
    border: $border;
    color: $c-blue;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4,$card-size);
  gap: 50px 48px;

  width: ($card-size+$card-margin-r)*4 - $card-margin-r;

}
